<div class="contmodal">
  <!-- CONTACT MODAL -->
  <div class="backdrop">
    <div class="modal-box">

      <button data-bodal-close type="button" class="modal-close-mob">
        <svg class="form__icon" width="40" height="40">
          <!-- <use href=""></use> -->
        </svg>
      </button>

      <button data-bodal-close type="button" class="modal-close-tab">
        <svg class="form__icon" width="31" height="31">
          <!-- <use href=""></use> -->
        </svg>
      </button>

      <p class="modal-text">Thank you for your message! We will contact you soon!</p>

      <button type="button" class="modal-button modal-button-tab">ok</button>

    </div>
  </div>


</div>